@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Marcio Maganha Silva<br />
    Rua Ezio Maranezi, 305<br />
    <abbr title="Telefone">Celular:</abbr>
    99002-42-04
</address>

<address>
    <strong>Email:</strong> <a href="mailto:giovannifelipeguilherme@hotmail.com">giovannifelipeguilherme@hotmail.com</a><br />    
</address>
